<div class="container wow fadeIn">
  <div class="col-md-7 mx-auto">
    <form (ngSubmit)="onSubmitOrder()" [formGroup]="requestOrderForm">
      <div class="card">
        <div class="card-header">
          <div class="h4 text-center">Mẫu đăng ký đặt lịch xem nhà</div>
        </div>
        <div class="card-body p-5">
          <div class="row mb-4">
            <div class="col">
              <label>Nhập Tên<span class="red-text">*</span></label>
              <input type="text" class="form-control"  formControlName="name">
              <small class="red-text" *ngIf="sharedService.checkValidateInput(name)">
                Không bỏ trống
              </small>
            </div>

            <div class="col">
              <label  >Nhập Email<span class="red-text">*</span></label>
              <input type="text" class="form-control"    formControlName="email">
              <small class="red-text" *ngIf="sharedService.checkValidateInput(email)">
                Không hợp lệ
              </small>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <label  >Nhập số điện thoại<span class="red-text">*</span></label>
              <input type="text" id="form29" class="form-control"    formControlName="phoneNumber">
              <small class="red-text" *ngIf="sharedService.checkValidateInput(phoneNumber)">
                Không hợp lệ
              </small>
            </div>

            <div class="col">
              <label>Thời gian xem nhà<span class="red-text">*</span></label>
              <input type="datetime-local"  class="form-control"   
                formControlName="datetime">
              <div><small>(Lớn hơn ngày hiện tại)</small></div>
              <small class="red-text" *ngIf="sharedService.checkValidateInput(datetime)">
                Không hợp lệ
              </small>
            </div>
          </div>
          <div>
            <label for="form8">Lời nhắn</label>
            <textarea type="text" id="form8" class="md-textarea form-control" rows="1"   
              formControlName="mess"></textarea>
            <small class="red-text" *ngIf="sharedService.checkValidateInput(mess)">
              Tối đa 100 ký tự
            </small>
          </div>
          <div class="text-center my-2" [ngClass]="{'red-text': !payFor}"
            [innerHTML]='payFor? "Bạn đã thanh toán phí dịch vụ thành công, hoàn thành mẫu và gửi": "Thanh toán phí dịch vụ 50$ ở cổng paypal để hoàn thành mẫu đăng ký" '>
          </div>
          <ng-template #paypalButton>
            <app-paypal-button [pay]='pay' (payResult)='payResult($event)'></app-paypal-button>
          </ng-template>
          <div class="mx-auto" *ngIf='payFor; else paypalButton'>
            <button type="submit" mat-raised-button color="primary" class="btn-block"
              [disabled]="!requestOrderForm.valid || isSubmit"  >
              <span [ngClass]="{'spinner-border spinner-border-sm' : isSubmit}"> </span>
              <strong>Gửi</strong>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>