<div class="m-100">
  <form (ngSubmit)="onSubmitOrder()" [formGroup]="requestOrderForm">
    <h1 mat-dialog-title class="text-center">Mẫu đăng ký đặt lịch xem nhà</h1>
    <div>
      <div class="row">
        <mat-form-field appearance="standard" class="col">
          <mat-label>Nhập Tên<span class="red-text">*</span></mat-label>
          <input type="text" matInput formControlName="name">
          <mat-error *ngIf="sharedService.checkValidateInput(name)">
            Không bỏ trống
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="col">
          <mat-label>Nhập Email<span class="red-text">*</span></mat-label>
          <input type="text" matInput formControlName="email">
          <mat-error *ngIf="sharedService.checkValidateInput(email)">
            Không hợp lệ
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field  appearance="standard" class="col">
          <mat-label>Nhập số điện thoại<span class="red-text">*</span></mat-label>
          <input type="text"  matInput formControlName="phoneNumber">
          <mat-error  *ngIf="sharedService.checkValidateInput(phoneNumber)">
            Không hợp lệ
          </mat-error>
        </mat-form-field>

        <mat-form-field  appearance="standard" class="col">
          <mat-label>Thời gian xem nhà<span class="red-text">*</span></mat-label>
          <input type="datetime-local" matInput formControlName="datetime">
          <mat-hint>(Lớn hơn ngày hiện tại và không quá 1 tháng)</mat-hint>
          <mat-error *ngIf="sharedService.checkValidateInput(datetime)">
            Không hợp lệ
          </mat-error>
        </mat-form-field>
      </div>
      <mat-form-field appearance="standard" class="w-100">
        <mat-label for="form8">Lời nhắn</mat-label>
        <textarea type="text" matInput  rows="1" formControlName="mess"></textarea>
        <mat-error *ngIf="sharedService.checkValidateInput(mess)">
          Tối đa 100 ký tự
        </mat-error>
      </mat-form-field>
      <div class="text-center my-2" [ngClass]="{'red-text': !payFor}"
        [innerHTML]='payFor? "Bạn đã thanh toán phí dịch vụ thành công": "Thanh toán phí dịch vụ 25$ (500.000vnd) ở cổng paypal để hoàn thành mẫu đăng ký" '>
      </div>
      <ng-container *ngIf="!payFor">
        <app-paypal-button [pay]='pay' (payResult)='payResult($event)'></app-paypal-button>
      </ng-container>
      <div class="my-3">
          <button *ngIf='payFor' type="submit" mat-raised-button color="primary" class="btn-block"
            [disabled]="!requestOrderForm.valid || isSubmit">
            <span [ngClass]="{'spinner-border spinner-border-sm' : isSubmit}"> </span>
            <strong>Gửi</strong>
          </button>
        <button mat-raised-button class="btn-block" matDialogClose> Hủy</button>
      </div>
    </div>
  </form>
</div>