<div class="container">
  <div class="col-md-7 mx-auto">
    <form (ngSubmit)="onSubmitOrder()" [formGroup]="requestOrderForm">
      <mdb-card>
        <mdb-card-header>
          <div class="h4 text-center">Mẫu đăng ký đặt lịch xem nhà</div>
        </mdb-card-header>
        <mdb-card-body class="p-5">
          <div class="row mb-5">
            <div class="col md-form">
              <label class="pl-3">Nhập Tên<span class="text-danger">*</span></label>
              <input type="text" class="form-control" mdbInput mdbValidate formControlName="name">
              <!-- <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">
                Không hợp lệ
              </mdb-error> -->
            </div>

            <div class="col md-form">
              <input type="text" class="form-control" mdbInput mdbValidate formControlName="email">
              <label class="pl-3">Nhập Email<span class="text-danger">*</span></label>
              <!-- <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">
                Không hợp lệ
              </mdb-error> -->
            </div>
          </div>
          <div class="row mb-3">
            <div class="col md-form">
              <input type="text" id="form29" class="form-control" mdbInput mdbValidate formControlName="phoneNumber">
              <label class="pl-3">Nhập số điện thoại<span class="text-danger">*</span></label>
              <!-- <mdb-error *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
                Không hợp lệ
              </mdb-error> -->
            </div>
            <div class="col md-form">
                <input type="datetime-local" class="form-control" mdbInput mdbValidate formControlName="datetime">
            </div>
          </div>

          <div class="md-form">
            <textarea type="text" id="form8" class="md-textarea form-control" rows="1" mdbInput mdbValidate
              formControlName="mess"></textarea>
            <label for="form8">Lời nhắn</label>
            <!-- <mdb-error *ngIf="mess.invalid && (mess.dirty || mess.touched)">
              Không hợp lệ
            </mdb-error> -->
          </div>
          <p>Thanh toán phí dịch vụ 50$ ở cổng paypal để hoàn thành mẫu đăng ký</p>
          <div #paypal></div>
          <div class="mx-auto">
            <button *ngIf="paidFor" type="submit" mdbBtn class="btn btn-danger btn-block"
              [disabled]="!requestOrderForm.valid" mdbWavesEffect>
              <strong>Gửi</strong>
            </button>
          </div>
        </mdb-card-body>
      </mdb-card>
    </form>
  </div>
</div>