<!--Main layout-->
<main class="pt-3 wow fadeIn">
  <div class="container">
    <app-search-bar (onSearch)="searchHandlerAtParrent($event)"></app-search-bar>
    <!--Kết quả search-->
    <div *ngIf="searchCondition" class="card mb-5 wow fadeInLeftBig">
      <div class="card-body text-black text-center my-2 ">
        <h4>
          Kết quả tìm kiếm: {{paging.countResult}} kết quả
        </h4>
        <button [disabled]='paging.countResult==0' type="button" (click)="showMap = !showMap" mdbBtn color="primary"
          mdbWavesEffect><span [innerHTML]="!showMap ? 'Bản đồ ' : 'Danh sách '"></span>
          <mdb-icon fas [icon]="!showMap? 'map-marked-alt' : 'list-ul'"></mdb-icon></button>
      </div>
    </div>
    <!--List-->
    <div *ngIf="!showMap;else map" class="text-center">
      <div class="row ">
        <div class="col-lg-4 col-md-6 mb-4 wow fadeInLeftBig" *ngFor="let place of places ">
          <!--Card-->
          <div class="card">
            <a (click)="sharedService.placeDetail(place.placeID)">
            <!--Card image-->
            <div class="view overlay zoom" style="height: 250px;">
              <img [src]="place.imageLarge"  class="img-thumbnail" alt="zoom">
              <div class="mask flex-center waves-effect waves-light">
                <p class="white-text">Xem</p>
              </div>
            </div>
              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">{{place?.title | slice:0:50}}...</h4>
                <!--Text-->
                <h5><mdb-badge pill="true" default="true">{{place.roleOfPlaceName}}</mdb-badge></h5>
                <p class="card-text">{{place.bedRooms|| '?'}} phòng ngủ - {{place.toilets|| '?'}} phòng vệ sinh -
                  {{place.area|| '?'}} m²
                </p>
                <h5 class="card-title"> <mdb-icon fas icon="map-marker-alt" class="grey-text"></mdb-icon> {{place.district}}</h5>
                <h4 class="card-title">{{place.price| number}} vnđ</h4>
              </div>
            </a>
          </div>
          <!--/.Card-->
        </div>
      </div>
    </div>
    <!-- map -->
    <ng-template #map>
      <agm-map class="wow fadeIn" style="height: 600px;" [latitude]="location.latitude" [longitude]="location.longitude"
        [zoom]="location.zoom">
        <ng-container *ngFor="let place of places">
          <agm-marker (markerClick)="clickedMarker(infowindow)" 
          [latitude]="place.latitude" 
          [longitude]="place.longtitude"
          [animation]='place.animation'
          (mouseOut)="makerOut(place)"
          (mouseOver)="makerOver(place)"
          >
          <agm-info-window #infowindow>
            <!--Card-->
            <div class="card" style="width: 300px;">
              <a (click)="sharedService.placeDetail(place.placeID)">
                <div class="view overlay zoom" style="height: 200px;" >
                  <img [src]="place.imageLarge"  class="img-thumbnail" alt="zoom">
                  <div class="mask flex-center waves-effect waves-light">
                    <p class="white-text">Xem</p>
                  </div>
                </div>
                <!--Card content-->
                <div class="card-body text-center">
                  <!--Title-->
                  <h5 class="card-title" style="height: 56px;">{{place?.title | slice:0:50}}...</h5>
                  <!--Text-->
                  <h6><mdb-badge pill="true" default="true">{{place.roleOfPlaceName}}</mdb-badge></h6>
                  <p class="card-text">{{place.bedRooms|| '?'}} phòng ngủ - {{place.toilets|| '?'}} phòng vệ sinh -
                    {{place.area|| '?'}} m²
                  </p>
                  <h6 class="card-title"><mdb-icon fas icon="map-marker-alt" class="grey-text"></mdb-icon> {{place.district}}</h6>
                  <h5 class="card-title">{{place.price| number}} vnđ</h5>
                </div>
              </a>
            </div>
            <!--/.Card-->
          </agm-info-window>
        </agm-marker>
        </ng-container>
      </agm-map>

    </ng-template>
    <!--Pagination-->
    <nav class="mt-3 d-flex justify-content-center wow fadeIn">
      <ul class="pagination pg-blue" *ngIf="paging && paging.countResult">

        <!--Arrow left-->
        <li class="page-item" [ngClass]="{disabled:paging.currentPage === 0}">
          <a class="page-link" (click)="gotoPage(paging.currentPage - 1)" aria-label="Previous">
            Previous
          </a>
        </li>

        <li *ngFor="let page of [].constructor(paging.pages); let i = index"
          [ngClass]="{active:paging.currentPage === i}" class="page-item">
          <a class="page-link" (click)="gotoPage(i)">{{i+1}}
          </a>
        </li>

        <li class="page-item" [ngClass]="{disabled:paging.currentPage === paging.pages-1}">
          <a class="page-link" (click)="gotoPage(paging.currentPage + 1)" aria-label="Next">
            Next
          </a>
        </li>
      </ul>
    </nav>
  </div>
</main>
<script>
  $('li').click(function () {
    $(this).addClass('active').siblings().removeClass('active');
  });
</script>