
<!--Main layout-->
<main class="pt-5">
  <div class="container">
    <app-search-bar></app-search-bar>
    <!--Kết quả search-->
    <section class="card wow fadeIn">
      <div class="card-body text-black text-center py-3 px-3 my-3">
        <h4>
          Kết quả tìm kiếm: {{paging.countResult}} kết quả
        </h4>
      </div>
    </section>
    <!--/Kết quả search-->

    <hr class="my-5">

    <!--Section: Cards-->
    <section class="text-center">

      <!--Grid row-->
      <div class="row mb-4 wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let place of places">

        <!--Card-->
        <div class="card">

          <!--Card image-->
          <div class="view overlay" style="height: 300px;">
            <div class="card-header">
              <button mdbBtn type="button" color="light-green" size="sm"
                mdbWavesEffect><strong>{{place.roleOfPlaceName}}</strong></button>
            </div>
            <img src="{{place.imageLarge}}" class="card-img-top" alt="">
            <a (click)="placeDetail(place.placeID)" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 style="height: 80px;" class="card-title">{{shortTitle(place.title)}}...</h4>
            <!--Text-->
            <p class="card-text">{{place.bedRooms}} phòng ngủ - {{place.toilets}} phòng vệ sinh - {{place.area}} m²
            </p>
            <h5 class="card-title"> {{place.district}}</h5>
            <h4 class="card-title">{{place.price| number}} vnđ</h4>
            <a (click)="placeDetail(place.placeID)" class="btn btn-primary btn-md">Xem chi tiết
              <i class="fas fa-play ml-2"></i>
            </a>
          </div>

        </div>
        <!--/.Card-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->



      <!--Pagination-->
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue" *ngIf="paging && paging.countResult">

          <!--Arrow left-->
          <li class="page-item" [ngClass]="{disabled:paging.currentPage === 0}">
            <a class="page-link" (click)="gotoPage(paging.currentPage - 1)" aria-label="Previous">
              Previous
            </a>
          </li>

          <li *ngFor="let page of [].constructor(paging.pages); let i = index"
            [ngClass]="{active:paging.currentPage === i}" class="page-item">
            <a class="page-link" (click)="gotoPage(i)">{{i+1}}
            </a>
          </li>

          <li class="page-item" [ngClass]="{disabled:paging.currentPage === paging.pages-1}">
            <a class="page-link" (click)="gotoPage(paging.currentPage + 1)" aria-label="Next">
              Next
            </a>
          </li>
        </ul>
      </nav>
      <!--Pagination-->

    </section>
    <!--Section: Cards-->

  </div>
</main>
<!--Main layout-->
<script>
  $('li').click(function () {
    $(this).addClass('active').siblings().removeClass('active');
  });

</script>