    <!-- Latest property -->
    <section id="aa-latest-property">
        <div class="container">
          <div class="aa-latest-property-area">
            <div class="aa-title">
              <h2>Nhà Đất Nổi Bật</h2>
              <span></span>
              <p>Nhanh tay book cho mình 1 căn ưng ý nhé bạn!</p>         
            </div>
            <div class="aa-latest-properties-content">
              <div class="row">
    
              <!-- Start content -->
                <div class="col-md-4">
                  <article class="aa-properties-item">
                    <a href="details-property.html" class="aa-properties-item-img">
                      <img src="..\assets\img\item\6.jpg" alt="img">
                    </a>
                    <div class="aa-tag for-rent">
                      Căn hộ
                    </div>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>5 Phòng</span>
                        <span>100m²</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="details-property.html">Appartment Title</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>                      
                      </div>
                      <div class="aa-properties-detial">
                        <span class="aa-price">
                          $15000
                        </span>
                        <a href="details-property.html" class="aa-secondary-btn">Xem Chi Tiết</a>
                      </div>
                    </div>
                  </article>
                </div>
                <!-- End content -->
                          <!-- Start content -->
                          <div class="col-md-4">
                            <article class="aa-properties-item">
                              <a href="details-property.html" class="aa-properties-item-img">
                                <img src="..\assets\img\item\6.jpg" alt="img">
                              </a>
                              <div class="aa-tag for-rent">
                                Căn hộ
                              </div>
                              <div class="aa-properties-item-content">
                                <div class="aa-properties-info">
                                  <span>5 Phòng</span>
                                  <span>100m²</span>
                                </div>
                                <div class="aa-properties-about">
                                  <h3><a href="details-property.html">Appartment Title</a></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>                      
                                </div>
                                <div class="aa-properties-detial">
                                  <span class="aa-price">
                                    $15000
                                  </span>
                                  <a href="details-property.html" class="aa-secondary-btn">Xem Chi Tiết</a>
                                </div>
                              </div>
                            </article>
                          </div>
                          <!-- End content -->
                                    <!-- Start content -->
                <div class="col-md-4">
                  <article class="aa-properties-item">
                    <a href="details-property.html" class="aa-properties-item-img">
                      <img src="..\assets\img\item\6.jpg" alt="img">
                    </a>
                    <div class="aa-tag for-rent">
                      Căn hộ
                    </div>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>5 Phòng</span>
                        <span>100m²</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="details-property.html">Appartment Title</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>                      
                      </div>
                      <div class="aa-properties-detial">
                        <span class="aa-price">
                          $15000
                        </span>
                        <a href="details-property.html" class="aa-secondary-btn">Xem Chi Tiết</a>
                      </div>
                    </div>
                  </article>
                </div>
                <!-- End content -->
                          <!-- Start content -->
                          <div class="col-md-4">
                            <article class="aa-properties-item">
                              <a href="details-property.html" class="aa-properties-item-img">
                                <img src="..\assets\img\item\6.jpg" alt="img">
                              </a>
                              <div class="aa-tag for-rent">
                                Căn hộ
                              </div>
                              <div class="aa-properties-item-content">
                                <div class="aa-properties-info">
                                  <span>5 Phòng</span>
                                  <span>100m²</span>
                                </div>
                                <div class="aa-properties-about">
                                  <h3><a href="details-property.html">Appartment Title</a></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>                      
                                </div>
                                <div class="aa-properties-detial">
                                  <span class="aa-price">
                                    $15000
                                  </span>
                                  <a href="details-property.html" class="aa-secondary-btn">Xem Chi Tiết</a>
                                </div>
                              </div>
                            </article>
                          </div>
                          <!-- End content -->
                                    <!-- Start content -->
                <div class="col-md-4">
                  <article class="aa-properties-item">
                    <a href="details-property.html" class="aa-properties-item-img">
                      <img src="..\assets\img\item\6.jpg" alt="img">
                    </a>
                    <div class="aa-tag for-rent">
                      Căn hộ
                    </div>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>5 Phòng</span>
                        <span>100m²</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="details-property.html">Appartment Title</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>                      
                      </div>
                      <div class="aa-properties-detial">
                        <span class="aa-price">
                          $15000
                        </span>
                        <a href="details-property.html" class="aa-secondary-btn">Xem Chi Tiết</a>
                      </div>
                    </div>
                  </article>
                </div>
                <!-- End content -->
    
              </div>
            </div>
          </div>
        </div>
      </section>
