<body class="grey lighten-3 min-vh-100  wow fadeIn">
  <div class="container">
    <div class="row py-5">

      <div class="col-md-3 ">
        <app-seller-menu></app-seller-menu>
      </div>

      <div class="col-md-9 ">
        <div class="text-center mb-3 ">
          <div class="h3 text-center">DANH SÁCH TIN ĐÃ ĐĂNG</div>
          <p>(Quý vị có thể quản lý, tìm kiếm tin đã đăng ở đây)</p>
          <div *ngIf="!posts" class="alert alert-warning" role="alert">
            Bạn chưa có bài đăng nào
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <select class="browser-default custom-select" [(ngModel)]="statusSelected">
            <option *ngFor="let item of statusSelects" [value]="item.id">{{item.name}}</option>
          </select>
        </div>
        <div *ngFor="let item of posts">
          <mat-card *ngIf="isStatusShow(item.statusID)" class="mb-3">
            <mat-card-content>
              <div class="row">
                <div class="col-md-5 view overlay zoom">
                  <a (click)="sharedService.placeDetail(item.id)">
                    <img [src]="item.imageLarge" style="height: 200px;" class="img-thumbnail" alt="zoom">
                    <div class="mask flex-center   waves-light">
                      <p class="white-text">Xem</p>
                    </div>
                  </a>
                </div>

                <div class="col-md-7 d-flex align-items-start flex-column">
                  <div class="mb-auto d-flex w-100">
                    <div class="mr-auto">
                      <mat-card-title>
                        <div class="h5">{{item.title | slice:0:100}}</div>
                      </mat-card-title>
                      <div>
                        <p><strong>Địa chỉ: </strong>{{item.address | slice:0:100}}</p>
                        <p><strong>Ngày đăng: </strong> {{item.datePost | date:'M/d/yyyy' }}</p>
                      </div>
                    </div>
                    <div>
                      <button *ngIf="isCancelShow(item.statusID)" (click)="comfirmCancel.show()"
                        (click)="placeID = item.id" mat-stroked-button color="accent"> Hủy </button>
                      <button *ngIf="isEditShow(item.statusID)" (click)="comfirmEdit.show()" (click)="placeID =item.id"
                        mat-stroked-button color="warn">Chỉnh sửa</button>
                    </div>
                  </div>

                  <div class="d-flex w-100">
                    <div class="h5 mr-auto">Giá: {{item.price| number}} vnđ</div>
                    <div class="h5">
                      <span [ngClass]="'badge badge-'+sharedService.placeStatusColor(item.statusID)">{{item.status}}</span>
                    </div>

                  </div>

                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <!-- Cancel comfirm -->
  <div mdbModal #comfirmCancel="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="h5">Bạn có chắc chắn muốn HỦY</div>
        </div>
        <div class="modal-footer">
          <a type="button" mat-stroked-button color="accent" (click)="comfirmCancel.hide()" (click)="cancel()">Đồng ý
          </a>
          <a type="button" mat-stroked-button color="accent" (click)="comfirmCancel.hide()">Bỏ qua</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit comfirm -->
  <div mdbModal #comfirmEdit="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="h5">Bạn có chắc chắn muốn CHỈNH SỬA</div>
        </div>
        <div class="modal-footer justify-content-center">
          <a type="button" mat-stroked-button color="warn" (click)="comfirmEdit.hide()" (click)="edit()"><i
              class="fas fa-check"></i> </a>
          <a type="button" mat-stroked-button color="warn" (click)="comfirmEdit.hide()"><i class="fas fa-minus"></i></a>
        </div>
      </div>
    </div>
  </div>

</body>