<body class="grey lighten-3 min-vh-100 wow fadeIn">
  <div class="container ">
    <div class="row py-5">

      <div class="col-md-3 ">
        <app-renter-menu></app-renter-menu>
      </div>

      <div class="col-md-9 ">
        <div class="text-center mb-3 ">
          <div class="h3 text-center">DANH SÁCH HỢP ĐỒNG THUÊ NHÀ</div>
          <p>(Quý vị có thể quản lý, tìm kiếm ở đây)</p>
        </div>
        <div *ngFor="let contract of contracts">
          <mat-card class="mb-3">
              <mat-card-header class="h5">{{contract.titlePlace}}</mat-card-header>
            <mat-card-content class="px-5">
              <div>
                <div class="row">
                  <div class="col">
                    <p><strong>Mã hợp đồng: </strong>{{contract.contractID}}</p>
                    <p><strong>Chủ nhà: </strong> 
                      <a mat-button color="primary" (click)="userService.openUserProfileDialog(contract.ownerID)"><i class="fas fa-info"></i></a>
                    </p>
                    <p><strong>Người thuê: </strong>
                      <a mat-button color="primary" (click)="userService.openUserProfileDialog(contract.renterID)"><i class="fas fa-info"></i></a>
                    </p>
                  </div>
                  <div class="col">
                    <p><strong>Ngày bắt đầu: </strong>{{contract.startDate | date:'M/d/yyyy' }}</p>
                    <p><strong>Ngày kết thúc: </strong>{{contract.endDate | date:'M/d/yyyy' }}</p>
                    <p><strong>Số tiền đặt cọc:
                      </strong>{{contract.fee | number}}<small>VND</small>/{{vndToUsd(contract.fee) | number}}<small>USD</small>
                    </p>
                  </div>
                  <div class="col d-flex align-items-start flex-column">
                    <p><strong>Thông tin nhà: </strong>
                      <a mat-button color="primary" (click)="sharedService.placeDetail(contract.placeID)"><i class="fas fa-info"></i></a>
                    </p>
                    <div><strong>Trạng thái nhà: </strong>
                      <span [ngClass]="'text-'+ sharedService.placeStatusColor(contract.placeStatusID)">
                        {{contract.placeStatus}}</span>
                    </div>
                    <div class="mt-auto ml-auto h5">
                      <span
                        [ngClass]="'badge badge-'+sharedService.contractStatusColor(contract.contractStatusID)">{{contract.statusContract}}
                      </span>
                    </div>
                  </div>
                </div>
                <app-paypal-button
                  *ngIf="isContractPending(contract.contractStatusID) && isPlaceActive(contract.placeStatusID)"
                  [pay]='getPay(contract)' (payResult)='getPayResult($event)'></app-paypal-button>
              </div>
            </mat-card-content>

          </mat-card>
        </div>

      </div>
    </div>
  </div>

</body>