
@import url("../../../assets/half-page-image-carousel/css/style.min.css");


html,
body,
header,
.carousel {
  height: 80vh;
}

@media (max-width: 740px) {

  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {

  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #929FBA !important;
  }
}