<!--Main layout-->
<div *ngIf="place" class="container wow fadeInDown">
  <div class="row mb-4">
    <div class="card">
      <div class="card-header text-center">
        <div class="h4">{{place.title}}</div>
      </div>
      <div class="card-body px-5 pb-5">
        <div class="card-title text-center">
          <div class="h5">
            <span>
              <i class="fas fa-home grey-text"></i><strong> {{place.roleOfPlace}}</strong>
            </span>
            <span>
              <i class="fas fa-dollar-sign grey-text"></i><strong> {{place.price| number}}
                vnđ/tháng</strong>
            </span>
            <span>
              <i class="fas fa-border-none grey-text" ></i> <strong> {{place.area}} m²</strong>
            </span>
            <span>
              <i class="fas fa-map-marker-alt grey-text"></i><strong> {{place.district}}</strong>
            </span>
          </div>
          <div class="mx-auto ">
            <div *ngIf="isActive(place.statusPlaceID);else statusPlace">
              <button mat-raised-button (click)="openDialog()" [disabled]="!loginService.isUserLoggedIn()" color="primary"
                class="my-2 btn-lg"  >
                Đặt lịch xem nhà
              </button>
              <p class="red-text">Hiện tại đang có <strong>{{orderCount|| '0'}}</strong> người đăng ký xem nhà này
              </p>
            </div>

            <ng-template #statusPlace>
              <div class="my-3 h4">Trạng thái: <strong [ngClass]="'text-'+sharedService.placeStatusColor(place.statusPlaceID)">{{place.statusPlace}}</strong></div>
            </ng-template>

          </div>
          <div *ngIf="!loginService.isUserLoggedIn()" class="alert alert-warning" role="alert">
            Bạn cần <a (click)='authGaurdService.showModal()'><strong style="cursor: pointer;">đăng nhập</strong> để
              thực hiện chức năng này</a>
          </div>
          <div class="h4"><strong>Thông tin chi tiết</strong></div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="h5"><strong>Địa chỉ:</strong></div>
            <p>{{place.address}}</p>
            <div class="h5"><strong>Tiện ích:</strong></div>
            <ul>
              <li>Phòng ngủ :{{place.bedRooms|| ""}} phòng</li>
              <li>Vệ sinh :{{place.toilets|| ""}} phòng </li>
              <li>Tầm nhìn :{{place.counterView|| ""}} </li>
              <li>Mặt đường :{{place.frontispiece|| ""}} m2 </li>
              <li>Hướng nhà :{{place.homeDirection|| ""}} </li>
            </ul>
          </div>
          <div class="col-md">
            <div class="h5"><strong>Thông tin mô tả</strong></div>
            <p>{{place.description}}</p>
          </div>
        </div>

        <div class="row mb-4">
          <div class="container mt-3 ">

            <mat-tab-group>
              <mat-tab label="Ảnh chụp">
                <div id="imagesPlace" class="container tab-pane active">
                  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                    <mdb-carousel-item *ngFor="let img of place.listImage; let i = index">
                      <img class="d-block mx-auto img-fluid z-depth-1" style="height: 600px;" [src]="img">
                    </mdb-carousel-item>
                  </mdb-carousel>
                </div>
              </mat-tab>
              <mat-tab label="Bản đồ">
                <div id="onMap" class="container tab-pane fade">
                  <agm-map (mapReady)="infowindow.open()" style="height: 600px;" [longitude]="location?.longitude"
                    [latitude]="location?.latitude" [zoom]="location.zoom">
                    <agm-marker [longitude]="location?.marker?.lng" [latitude]="location?.marker?.lat">
                      <agm-info-window #infowindow>
                        <strong>
                          <i class="fas fa-map-marker-alt" size="lg" class="red-text"></i>{{place.address}}
                        </strong>
                      </agm-info-window>
                    </agm-marker>
                  </agm-map>
                </div>
              </mat-tab>
            </mat-tab-group>

          </div>
        </div>
        <div class="row">
          <div class="col" *ngIf="place.listEquip?.length>0">
            <div class="h5"><strong>Thông tin nội thất</strong></div>
            <div  bordered="true" hover="true">
              <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Tên nội thất </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef> Số lượng</th>
                  <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef> Giá(vnđ) </th>
                  <td mat-cell *matCellDef="let element"> {{element.price | number}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="likeNew">
                  <th mat-header-cell *matHeaderCellDef> Độ mới</th>
                  <td mat-cell *matCellDef="let element"> {{element.likeNew}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="equipmentDescrible">
                  <th mat-header-cell *matHeaderCellDef> Mô tả </th>
                  <td mat-cell *matCellDef="let element"> {{element.equipmentDescrible}} </td>
                </ng-container>

                <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
            </div>
          </div>

          <div class="col" *ngIf="place.listCost?.length>0">
            <div class="h5"><strong>Thông tin phí dịch vụ sinh hoạt</strong></div>
            <div  bordered="true" hover="true">
              <table mat-table [dataSource]="dataCost">

                <!-- Position Column -->
                <ng-container matColumnDef="costName">
                  <th mat-header-cell *matHeaderCellDef> Tên dịch vụ </th>
                  <td mat-cell *matCellDef="let element"> {{element.costName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="costPrice">
                  <th mat-header-cell *matHeaderCellDef> Đơn giá</th>
                  <td mat-cell *matCellDef="let element"> {{element.costPrice | number}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="unitID">
                  <th mat-header-cell *matHeaderCellDef> Đơn vị</th>
                  <td mat-cell *matCellDef="let element"> {{getUnitName(element.unitID)}} </td>
                </ng-container>

                <tr  mat-header-row *matHeaderRowDef="costColumns"></tr>
                <tr  mat-row *matRowDef="let row; columns: costColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>