<div class="container-fluid mt-5  wow fadeIn">
  <div class="text-center mb-3 ">
    <div class="h3 text-center">DANH SÁCH LỊCH SỬ THANH TOÁN ONLINE</div>
  </div>
    <mat-card >
      <mat-form-field class="w-100" appearance="standard">
        <mat-label>Lọc</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Đang chờ">
      </mat-form-field>
      <table mat-table matSort [dataSource]="dataSource" class="table-hover w-100">


        <ng-container matColumnDef="userID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Thông tin người dùng</th>
          <td mat-cell *matCellDef="let element">
            <a mat-button color="primary" (click)="userService.openUserProfileDialog(element.userID)"><i
              class="fas fa-info"></i></a>
          </td>
        </ng-container>
        <ng-container matColumnDef="placeID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Thông tin nhà</th>
          <td mat-cell *matCellDef="let element">
            <a mat-button color="primary" (click)="sharedService.placeDetail(element.placeID)"><i
              class="fas fa-info"></i></a>
          </td>
        </ng-container>
        <ng-container matColumnDef="orderID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã đơn</th>
          <td mat-cell *matCellDef="let element"> {{element.orderID}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="payerID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>payerID</th>
          <td mat-cell *matCellDef="let element"> {{element.payerID}} </td>
        </ng-container>
        <ng-container matColumnDef="money">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Số tiền</th>
          <td mat-cell *matCellDef="let element"> {{element.money}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nội dung</th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <ng-container matColumnDef="createTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày tạo</th>
          <td mat-cell *matCellDef="let element"> {{element.createTime | date:"short"}} </td>
        </ng-container>


        <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
    </mat-card>
  </div>
