<div class="container">
  <mdb-card class="w-50 mx-auto mt-5 " style="min-width: 400px;">
    <!-- Default form login -->
    <form [formGroup]="validatingLoginForm" (ngSubmit)="checkLogin()" class="text-center border border-light p-5">

      <p class="h4 mb-4">Đăng nhập</p>

      <!-- Username -->
      <div class="md-form mb-5">
        <input type="text" id="defaultForm-username" formControlName="loginFormModalUsername" mdbInput mdbValidate
          class="form-control mb-4" placeholder="Tên đăng nhập">
        <mdb-error
          *ngIf="loginFormModalUsername.invalid && (loginFormModalUsername.dirty || loginFormModalUsername.touched)">
          Không bỏ trống
        </mdb-error>
      </div>

      <!-- Password -->
      <div class="md-form mb-4">
        <input type="password" id="defaultForm-pass" formControlName="loginFormModalPassword" mdbInput mdbValidate
          class="form-control mb-4" placeholder="Mật khẩu">
        <mdb-error
          *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
          Không bỏ trống
        </mdb-error>
      </div>

      <!-- Sign in button -->
      <button class="btn btn-primary btn-block my-4" [disabled]="!validatingLoginForm.valid" type="submit"
        mdbWavesEffect><strong>Đăng nhập</strong></button>

      <!-- Register -->
      <p>Bạn chưa có tài khoản?
        <a [routerLink]="['/user/register']" routerLinkActive="router-link-active">Đăng ký</a>
      </p>

      <!-- Social login -->
      <!-- <p>Đang nhập với</p>

  <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a> -->

    </form>
    <!-- Default form login -->
  </mdb-card>

</div>