<!-- listEquip -->
              <p class="red-text">Thông tin yêu cầu</p>
              <form [formGroup]="eqmTable">
                <table class="table table-bordered table-sm">
                  <thead class="text-nowrap">
                    <th scope="col">Tên dịch vụ<span class="red-text">*</span></th>
                    <th scope="col">Đơn giá(vnđ/tháng)<span class="red-text">*</span></th>
                    <th scope="col">Đơn vị <span class="red-text">*</span></th>
                    <th scope="col"></th>
                  </thead>
                  <tbody>
                    <ng-container formArrayName="tableRows"
                      *ngFor="let group of getFormControls.controls ; let i=index">
                      <tr  *ngIf="group.get('isEditable').value" [formGroupName]="i">
                        <td>
                          <mat-form-field appearance="standard">
                          <input matInput type="text"  formControlName="costName">
                          <mat-error *ngIf="sharedService.checkValidateInput(group.get('costName'))">
                            Không bỏ trống
                          </mat-error>
                        </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field appearance="standard">
                          <input matInput type="number" formControlName="costPrice">
                          <span matSuffix>vnđ</span>
                          <mat-error *ngIf="sharedService.checkValidateInput(group.get('costPrice'))">
                            Không hợp lệ
                          </mat-error>
                        </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field appearance="standard">
                          <mat-select matInput  formControlName="unitID">
                            <mat-option *ngFor="let unit of units" [value]='unit.id' >{{unit.unitName}}</mat-option>
                          </mat-select>
                          <mat-error  *ngIf="sharedService.checkValidateInput(group.get('unitID'))">
                            Không bỏ trống
                          </mat-error>
                        </mat-form-field>
                        </td>
                        <td>
                          <button mat-flat-button   (click)="deleteRow(i)"  >Xóa</button>
                          <button mat-flat-button   [disabled]="group.invalid"
                            (click)="doneRow(group)"  >Lưu</button>
                        </td>
                      </tr>
                      <tr *ngIf="!group.get('isEditable').value">
                        <td>
                          {{group.get('costName').value}}
                        </td>
                        <td>
                          {{group.get('costPrice').value}}
                        </td>
                        <td>
                          {{getUnitName(group.get('unitID').value)}}
                        </td>
                        <td>
                          <button mat-flat-button  (click)="editRow(group)"
                             >Sửa</button>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
                <div class="action-container">
                  <button mat-flat-button  [disabled]="eqmTable.invalid" (click)="addRow()"
                     >Thêm</button>
                </div>
              </form>
              <hr>