    <!--Section: Main info-->
    <div class="container">
    <section class="mt-5">

        <!--Grid row-->
        <div class="row">
  
          <!--Grid column-->
          <mat-card class="col-md-6 mb-4">
  
            <img src="../../../assets/img/team.jpg" class="img-fluid">
  
          </mat-card>
          <!--Grid column-->
  
          <!--Grid column-->
          <mat-card class="col-md-6 mb-4">
            <div class="view overlay p-5">
              <!-- Main heading -->
              <div class="mb-3 h3">Về Chúng Tôi</div>
              <hr>
              <p>Nhóm gồm 5 thành viên đến từ Đại học FPT</p>
              <ul>
                <li>Hoàng Ngọc Nghĩa Trường</li>
                <li>Trần Huy Đức</li>
                <li>Trần Thị Thùy Trang</li>
                <li>Đào Đức Trung</li>
                <li>Hoàng Tiến Thành</li>
              </ul>
              <p>Mọi thông tin chi tiết xin liên hệ: </p>
              <ul>
                  <li>Số điện thoại: 096.5678.655</li>
                  <li>Email: cyberplace99@gmail.com</li>
              </ul>
              <!-- Main heading -->
  
              <hr>
            </div>
  
          </mat-card>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
  
      </section>
      </div>
      <!--Section: Main info-->
