<div class="container-fluid mt-5  wow fadeIn">
  <!-- Heading -->
  <div class="card mb-4">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

      <h4 class="mb-2 mb-sm-0 pt-1">
        <a>Admin</a>
        <span>/</span>
        <span>Quản lý(xuất,nhập) hóa đơn hằng tháng</span>
      </h4>

    </div>

  </div>
  <!-- Heading -->

  <div class="card mb-5 wow fadeIn">
    <div class="card-header text-center  h5"><strong>Quản lý(xuất,nhập) hóa đơn hằng tháng</strong></div>
    <div class="card-body">
      <div class="md-form">
        <input matInput mdbInput type="text" id="form1" class="form-control" (keyup)="applyFilter($event)">
        <label for="form1">Lọc</label>
      </div>
      <div mdbTable bordered="true" hover="true">
        <table mat-table matSort [dataSource]="dataSource" class="w-100">

          <ng-container matColumnDef="colId">
            <th *matHeaderCellDef mat-sort-header>Chi tiết hóa đơn</th>
            <td *matCellDef="let element">{{element.colId}}
            </td>
          </ng-container>

          <ng-container matColumnDef="renterId">
            <th *matHeaderCellDef mat-sort-header>Người thuê</th>
            <td *matCellDef="let element">{{element.renterId}}</td>
          </ng-container>

          <ng-container matColumnDef="ownerID">
            <th *matHeaderCellDef mat-sort-header>Chủ nhà</th>
            <td *matCellDef="let element"> {{element.ownerID}} </td>
          </ng-container>

          <ng-container matColumnDef="dateCollect">
            <th *matHeaderCellDef mat-sort-header>Ngày thu tiền</th>
            <td *matCellDef="let element"> {{element.dateCollect | date:'shortDate'}} </td>
          </ng-container>

          <ng-container matColumnDef="deadLineStatus">
            <th *matHeaderCellDef mat-sort-header>Hạn thu tiền</th>
            <td *matCellDef="let element" class="red-text">
              {{element.dateCollect | deadlineBill:element.paymentStatusId}} </td>
          </ng-container>

          <ng-container matColumnDef="totalExpense">
            <th *matHeaderCellDef mat-sort-header>Tổng thu</th>
            <td *matCellDef="let element"> {{element.totalExpense | number}} </td>
          </ng-container>

          <ng-container matColumnDef="paymentStatusName">
            <th *matHeaderCellDef mat-sort-header>Trạng thái hóa đơn</th>
            <td *matCellDef="let element" class="font-weight-bold"> {{element.paymentStatusId | billStatusName}} </td>
          </ng-container>

          <ng-container matColumnDef="void">
            <th *matHeaderCellDef> Thanh toán <div class="text-sm">(Tải lên hóa đơn với giao dịch thanh
                toán tiền mặt)</div>
            </th>
            <td *matCellDef="let element">

              <button type="button" mdbBtn color="warning" size="sm" mdbWavesEffect
                *ngIf="!isBillPaid(element.paymentStatusId)" (click)='onFillForm(element)'>Nhập
                phí</button>
              <button type="button" *ngIf='element.cashPaidLink' (click)='sharedService.openLinkNewTab(element.cashPaidLink)' mdbBtn color="success"
                size="sm" mdbWavesEffect>Xem hóa đơn tiền mặt</button>
              <label *ngIf="!isBillPending(element.paymentStatusId)" mdbBtn color="primary" size="sm" mdbWavesEffect
                class="btn-file"> Hóa đơn tiền mặt
                <input type="file" autocomplete="off" style="display:none;"
                  (change)="onCashPaidBillUpload($event,element)" />
              </label>

            </td>
          </ng-container>

          <tr mdbTableCol mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mdbTableCol mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
      </div>
    </div>

  </div>
</div>

<!-- cash paid comfirm -->

<div mdbModal #fillFormModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
  [config]="{backdrop: true, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-lg" role="document">
    <form #form="ngForm" (ngSubmit)="onSave()">
      <div class="modal-content p-5">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tên dịch vụ</th>
              <th scope="col">Đơn giá(vnđ)</th>
              <th scope="col">Số lượng </th>
              <th scope="col">Đơn vị </th>
              <th scope="col">Thành tiền(vnđ) </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of bill?.colBillDetails; let i = index">
              <th scope="row">{{i}}</th>
              <td>{{item.costName}}</td>
              <td>{{item.costPrice | number}}</td>
              <td>
                <input type="number" [(ngModel)]="item.amount" [disabled]="item.unitID == 2"
                  (ngModelChange)="onInputAmount($event,item)" name="{{i}}" class="form-control" min="0"
                  required="required">
              </td>
              <td>{{item.unitName}}</td>
              <td>{{item.amount*item.costPrice | number}}</td>
            </tr>
            <tr>
              <th scope="row">{{bill?.colBillDetails.length}}</th>
              <td> Phí thuê nhà</td>
              <td>{{bill?.placePrice | number}}</td>
              <td>1 </td>
              <td>1 tháng</td>
              <td>{{bill?.placePrice | number}}</td>
            </tr>
            <tr>
              <th></th>
              <th colspan="4">Tổng thu(vnđ)</th>
              <th>
                {{bill?.totalExpense | number}}
              </th>
            </tr>
          </tbody>
        </table>
        <div class="modal-footer text-center">
          <button type="submit" [disabled]="!form.form.valid" mdbBtn color="warning" mdbWavesEffect>Lưu</button>
          <button type="button" mdbBtn color="warning" outline="true" class="waves-effect"
            (click)="fillFormModal.hide();" mdbWavesEffect>Đóng</button>
        </div>
      </div>
    </form>
  </div>
</div>