<body class="grey lighten-3">
  <div class="container">
    <div class="row py-5">
      <!--Grid column-->
      <div class="col-md-3 ">
        <app-seller-menu></app-seller-menu>
      </div>
      <!--Grid column-->
      <div class="col-md-9">
        <div class="text-center">
          <div class="h3 text-center">ĐĂNG TIN RAO BÁN, CHO THUÊ NHÀ ĐẤT</div>
          <p>(Quý vị nhập thông tin nhà đất cần bán hoặc cho thuê vào các mục dưới đây)</p>
          <div *ngIf="!loginService.isUserLoggedIn()" class="alert alert-warning" role="alert">
            Bạn cần <a (click)='authGaurdService.showModal()'><strong style="cursor: pointer;">đăng nhập</strong> để
              thực hiện chức năng này</a>
          </div>
        </div>
        <mat-card>
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <mat-vertical-stepper linear>
              <!-- page 1 -->
              <mat-step [completed]="isStepOneValid()">
                <ng-template matStepLabel>Thông tin cơ bản</ng-template>
                <!-- title -->
                <mat-form-field appearance="standard">
                  <mat-label> Tiêu đề<span class="red-text ">*</span></mat-label>
                  <input type="text" formControlName="title" matInput>
                  <mat-error *ngIf="sharedService.checkValidateInput(title)">
                    Yêu cầu từ 10-100 ký tự
                  </mat-error>
                </mat-form-field>
                <!--Grid row-->
                <div class="row">
                  <!-- district -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12 mb-4">
                    <mat-label>Quận/Huyện <span class="red-text">*</span></mat-label>
                    <mat-select formControlName="district" (selectionChange)="onDistrictChange()">
                      <mat-option *ngFor="let item of districts" [value]="item">{{item.district}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="sharedService.checkValidateInput(district)">
                      Không bỏ trống
                    </mat-error>
                  </mat-form-field>
                  <!-- ward -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12 mb-4">
                    <mat-label>Phường/Xã<span class="red-text">*</span></mat-label>
                    <mat-select formControlName="ward" (selectionChange)="onWardChange()">
                      <mat-option *ngFor="let item of wards" [value]="item">{{item.wardName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="sharedService.checkValidateInput(ward)">
                      Không bỏ trống
                    </mat-error>
                  </mat-form-field>
                  <!-- street -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12 mb-4">
                    <mat-label for="street">Đường/phố<span class="red-text">*</span></mat-label>
                    <mat-select formControlName="street" (selectionChange)="updateAddress()">
                      <mat-option *ngFor="let item of streets" [value]="item">{{item.streetName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="sharedService.checkValidateInput(street)">
                      Không bỏ trống
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="row">
                  <!-- roleOfPlaceID -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12 mb-4">
                    <mat-label>Loại nhà đất <span class="red-text">*</span></mat-label>
                    <mat-select formControlName="roleOfPlaceID">
                      <mat-option *ngFor="let item of roleOfPlaces" [value]="item.roleOfPlaceID">{{item.roleName}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="sharedService.checkValidateInput(roleOfPlaceID)">
                      Không bỏ trống
                    </mat-error>
                  </mat-form-field>
                  <!-- area -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12 mb-4">
                    <mat-label for="area">Diện tích<span class="red-text">*</span></mat-label>
                    <input matInput type="number" id="area" formControlName="area">
                    <span matSuffix>m²</span>
                    <mat-error *ngIf="sharedService.checkValidateInput(area)">
                      Không bỏ trống
                    </mat-error>
                  </mat-form-field>
                  <!-- price -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12   mb-4">
                    <mat-label for="price">Giá thuê (vnđ/tháng)<span class="red-text">*</span></mat-label>
                    <input type="number" id="price" formControlName="price" matInput>
                    <span matSuffix>vnđ</span>
                    <mat-error *ngIf="sharedService.checkValidateInput(price)">
                      Không bỏ trống
                    </mat-error>
                  </mat-form-field>
                  <!-- <div *ngIf="!sharedService.checkValidateInput(price)">{{price.value | currency:' ':'symbol':'2.0'}}
                  </div> -->
                </div>

                <div>
                  <button type="button" mat-stroked-button matStepperNext>Tiếp tục</button>
                </div>
              </mat-step>
              <!-- page2 -->
              <mat-step [completed]="isStepTwoValid()">
                <ng-template matStepLabel>Thông tin mô tả</ng-template>
                <div>Tối đa 3000 ký tự.<span class="red-text">*</span></div>
                <p>
                  Giới thiệu chung về bất động sản của bạn. Ví dụ: Khu nhà có vị trí thuận lợi: Gần công viên, gần
                  trường học ... Tổng diện tích 52m2, đường đi ô tô vào tận cửa.
                  <span class="red-text">Lưu ý: tin rao chỉ để mệnh giá tiền Việt Nam Đồng.</span></p>
                <!-- descriptions -->
                <mat-form-field appearance="standard">
                  <textarea type="text" id="descriptions" formControlName="descriptions" matInput></textarea>
                  <mat-error *ngIf="sharedService.checkValidateInput(descriptions)">
                    Vui lòng nhập thông tin mô tả. Tối thiểu là 30 ký tự và tối đa là 3000 ký tự.
                  </mat-error>
                  <mat-label for="descriptions">Mô tả chi tiết</mat-label>
                </mat-form-field>

                <div>
                  <button mat-stroked-button matStepperPrevious>Quay lại</button>
                  <button type="button" mat-stroked-button matStepperNext>Tiếp tục</button>
                </div>
              </mat-step>
              <!-- page 3 -->
              <mat-step [completed]="isStepThreeValid()">
                <ng-template matStepLabel>Thông tin chi tiết</ng-template>
                <p>Quý vị nên điền đầy đủ thông tin vào các mục dưới đây để đăng tin có hiệu quả hơn.</p>
                <div class="row">
                  <!-- homeDirection -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12 mb-4">
                    <mat-label for="homeDirection">Hướng nhà</mat-label>
                    <mat-select formControlName="homeDirection">
                      <mat-option *ngFor="let item of homeDirections" [value]="item">{{item}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- frontispiece -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12   mb-4">
                    <mat-label for="frontispiece">Mặt tiền</mat-label>
                    <input type="number" id="frontispiece" formControlName="frontispiece" matInput>
                    <span matSuffix>m²</span>
                    <mat-error *ngIf="sharedService.checkValidateInput(frontispiece)">
                      Không hợp lệ
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="row">
                  <!-- numberFloors -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12   mb-4">
                    <mat-label for="numberFloors">Số tầng</mat-label>
                    <input type="number" id="numberFloors" formControlName="numberFloors" matInput>
                    <mat-error *ngIf="sharedService.checkValidateInput(numberFloors)">
                      Không hợp lệ
                    </mat-error>
                  </mat-form-field>
                  <!-- numberBedrooms -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12   mb-4">
                    <mat-label for="numberBedrooms">Số phòng ngủ</mat-label>
                    <input type="number" id="numberBedrooms" formControlName="numberBedrooms" matInput>
                    <mat-error *ngIf="sharedService.checkValidateInput(numberBedrooms)">
                      Không hợp lệ
                    </mat-error>
                  </mat-form-field>
                  <!-- numberToilets -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12   mb-4">
                    <mat-label for="numberToilets">Số phòng vệ sinh</mat-label>
                    <input type="number" id="numberToilets" formControlName="numberToilets" matInput>
                    <mat-error *ngIf="sharedService.checkValidateInput(numberToilets)">
                      Không hợp lệ
                    </mat-error>
                  </mat-form-field>
                </div>

                <div>
                  <button mat-stroked-button matStepperPrevious>Quay lại</button>
                  <button type="button" mat-stroked-button matStepperNext>Tiếp tục</button>
                </div>
              </mat-step>
              <!-- page 4 -->
              <mat-step [completed]="isStepFourValid()">
                <ng-template matStepLabel>Thông tin nội thất</ng-template>
                <!-- Equipment -->
                <app-equipment></app-equipment>
                <div>
                  <button mat-stroked-button matStepperPrevious>Quay lại</button>
                  <button type="button" mat-stroked-button matStepperNext>Tiếp tục</button>
                  <small class="red-text">Chú ý lưu thông tin trước khi đến bước tiếp theo</small>
                </div>
              </mat-step>
              <!-- page 5 -->
              <!-- Cost of living -->
              <mat-step [completed]="isStepFiveValid()">
                <ng-template matStepLabel>Phí dịch vụ</ng-template>
                <app-cost-living></app-cost-living>
                <div>
                  <button mat-stroked-button matStepperPrevious>Quay lại</button>
                  <button type="button" mat-stroked-button matStepperNext>Tiếp tục</button>
                  <small class="red-text">Chú ý lưu thông tin trước khi đến bước tiếp theo</small>
                </div>
              </mat-step>
              <!-- page 6 -->
              <mat-step [completed]="isStepSixValid()">
                <ng-template matStepLabel>Ảnh mô tả</ng-template>
                <app-upload (upload)='uploadHandler($event)'></app-upload>
                <div>
                  <button mat-stroked-button matStepperPrevious>Quay lại</button>
                  <button type="button" mat-stroked-button matStepperNext>Tiếp tục</button>
                </div>
              </mat-step>
              <!-- page 7 -->
              <mat-step [completed]="isStepSevenValid()">
                <ng-template matStepLabel>Bản đồ</ng-template>
                <p>Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa vị trí tin rao của bạn trên bản
                  đồ
                  bằng
                  cách
                  Chọn lại vị trí bản đồ</p>
                <mat-form-field appearance="standard">
                  <mat-label>Kiểm tra lại địa chỉ</mat-label>
                  <input type="text" id="map" matInput (keydown.enter)="$event.preventDefault()" autocorrect="off"
                    autocapitalize="off" spellcheck="off" #search>
                  <mat-error class="red-text" *ngIf="!searchElementRef?.nativeElement?.value">
                    Không bỏ trống
                  </mat-error>
                </mat-form-field>
                <div class="mt-3">
                  <agm-map style="height: 600px;" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                      (dragEnd)="markerDragEnd($event)">
                    </agm-marker>
                  </agm-map>
                </div>

                <p>Có thể dữ liệu bản đồ không chính xác. Vì vậy nếu có bất kỳ sai xót nào xin bạn hãy báo cho chúng tôi
                  để
                  khắc
                  phục kịp thời.</p>

                <div>
                  <button mat-stroked-button matStepperPrevious>Quay lại</button>
                  <button type="button" mat-stroked-button matStepperNext>Tiếp tục</button>
                </div>
              </mat-step>
              <!-- page 8 -->
              <mat-step [completed]="isStepEightValid()">
                <ng-template matStepLabel>Liên hệ xem nhà</ng-template>
                <div class="row">
                  <!-- contactName -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12   mb-4">
                    <mat-label for="contactName">Tên liên hệ<span class="red-text">*</span></mat-label>
                    <input type="text" id="contactName" formControlName="contactName" matInput>
                    <mat-error *ngIf="sharedService.checkValidateInput(contactName)">
                      Không bỏ trống
                    </mat-error>
                  </mat-form-field>

                  <!-- contactAddress -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12   mb-4">
                    <mat-label for="contactAddress">Địa chỉ liên hệ</mat-label>
                    <input type="text" id="contactAddress" formControlName="contactAddress" matInput>
                  </mat-form-field>

                  <!-- phoneNumber -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12   mb-4">
                    <mat-label for="phoneNumber">Số điện thoại liên hệ<span class="red-text">*</span></mat-label>
                    <input type="text" id="phoneNumber" formControlName="phoneNumber" matInput>
                    <mat-error *ngIf="sharedService.checkValidateInput(phoneNumber)">
                      Không hợp lệ
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="row">
                  <!-- email -->
                  <mat-form-field appearance="standard" class="col-lg-4 col-md-12   mb-4">
                    <mat-label for="email">Email</mat-label>
                    <input type="email" id="email" formControlName="email" matInput>
                    <mat-error *ngIf="sharedService.checkValidateInput(email)">
                      Email không hợp lệ
                    </mat-error>
                  </mat-form-field>

                  <!-- checkingDate -->
                  <mat-form-field class="col-lg-4 col-md-12  mb-4" appearance="standard">
                    <mat-label for="checkingDate">Ngày xem nhà <span class="red-text">*</span></mat-label>
                    <input type="date" id="checkingDate" formControlName="checkingDate" matInput>
                    <mat-error class="red-text" *ngIf="sharedService.checkValidateInput(checkingDate)">
                      Không hợp lệ
                    </mat-error>
                    <mat-hint>(Lớn hơn ngày hiện tại và không quá 1 tháng)</mat-hint>
                  </mat-form-field>
                </div>
                <div>
                  <button mat-stroked-button matStepperPrevious>Quay lại</button>
                  <button style="margin-right: 8px;" type="submit" mat-raised-button
                    [color]="placeEditID? 'warn':'primary'" size="md" [disabled]="!form.valid 
        || !loginService.isUserLoggedIn() 
        || isSubmit 
        || equipComponent?.eqmTable?.invalid 
        || costComponent?.eqmTable?.invalid 
        || !searchElementRef?.nativeElement?.value
        || imageUploaded.length == 0">
                    <span [ngClass]="{'spinner-border spinner-border-sm' : isSubmit}"> </span>
                    <span [innerHTML]="placeEditID? 'Lưu chỉnh sửa':' Yêu cầu đăng tin'"></span>
                  </button>
                  <button type="button" mat-stroked-button  size="md"
                    [routerLink]="['/places/home']">Hủy</button>
                </div>
              </mat-step>
              <!-- done -->

            </mat-vertical-stepper>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</body>