<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand  " routerLink="/places/home">
            <strong>
                <i class="fas fa-home fa-2x"></i>Cyber Place
            </strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse font-weight-bolder" id="navbar">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLink="/places/home" routerLinkActive="active">
                    <a class="nav-link  ">Trang chủ
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" id="sellerMenu" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Kênh cho thuê
                    </a>
                    <div class="dropdown-menu" aria-labelledby="sellerMenu">
                        <a routerLink="/user/seller/post" class="dropdown-item">Đăng tin</a>
                        <a routerLink="/user/seller/post-manage" class="dropdown-item">Tin đã đăng</a>
                        <a routerLink="/user/seller/rented" class="dropdown-item">Nhà cho thuê</a>
                        <a routerLink="/user/seller/contract" class="dropdown-item">Hợp đồng cho thuê</a>
                        <a routerLink="/user/seller/bill" class="dropdown-item">Hóa đơn hằng tháng</a>
                    </div>

                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" id="renterMenu" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Kênh thuê nhà
                    </a>
                    <div class="dropdown-menu" aria-labelledby="renterMenu">
                        <a routerLink="/user/renter/order" class="dropdown-item">Lịch xem nhà</a>
                        <a routerLink="/user/renter/contract" class="dropdown-item">Hợp đồng thuê nhà</a>
                        <a routerLink="/user/renter/bill" class="dropdown-item">Chi phí hằng tháng</a>
                        <a routerLink="/user/renter/payment" class="dropdown-item">Lịch sử thanh toán</a>
                    </div>
                </li>

                <li class="nav-item" routerLink="/places/about-us" routerLinkActive="active">
                    <a class="nav-link  ">Về chúng tôi
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li *ngIf="loginService.isAdmin();else post" class="nav-item">
                    <button routerLink="/admin" mat-raised-button type="button" color="warn">
                        <strong>Admin</strong></button>
                </li>
                <ng-template #post>
                    <li class="nav-item">
                        <button routerLink="/user/seller/post" mat-raised-button color="primary">
                            <strong>Đăng tin rao</strong></button>
                    </li>
                </ng-template>
                <ng-container *ngIf="!loginService.isUserLoggedIn();else logOut">
                    <li class="nav-item mx-2">
                        <a class="nav-link  " mat-raised-button data-toggle="modal" data-target="#frameSignin"
                            (click)="frameSignin.show()">
                            Đăng ký
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " mat-raised-button data-toggle="modal" data-target="#frameLogin"
                            (click)="frameLogin.show()">
                            Đăng nhập
                        </a>
                    </li>
                </ng-container>
                <ng-template #logOut>
                    <li class="nav-item">
                        <a class="nav-link mx-2" mat-raised-button
                            (click)="userService.openUserProfile(loginService.currentUserValue.userID)">
                            <i class="fas fa-user"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" mat-raised-button (click)="loginService.logOut()">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                </ng-template>
            </ul>

        </div>

    </div>
</nav>
<!-- Navbar -->

<!-- Login Modal -->
<form [formGroup]="validatingLoginForm" (ngSubmit)="checkLogin()">
    <div mdbModal #frameLogin="mdbModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog text-center" style="width:450px;" role="document">
            <div class="modal-content  p-5">
                <div class="h4 mb-3">Đăng nhập</div>
                <mat-form-field appearance="standard">
                    <mat-label>Tên đăng nhập</mat-label>
                    <input type="text" formControlName="loginUsername" matInput>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Mật khẩu</mat-label>
                    <input matInput type="password" formControlName="loginPassword">
                </mat-form-field>
                <!-- Sign in button -->
                <small class="red-text" *ngIf="loginMess">{{loginMess}}</small>
                <button mat-raised-button color="primary" class="btn-block" type="submit"
                    [disabled]="!validatingLoginForm.valid || isLoginSubmit">
                    <span [ngClass]="{'spinner-border spinner-border-sm' : isLoginSubmit}"> </span> Đăng nhập</button>
                <button type="button" mat-raised-button class="my-3 btn-block" role="button"
                    (click)="loginService.googleSignin();frameLogin.hide()">
                    Đăng nhập với <i class="fab fa-google"></i>
                </button>
                <!-- Register -->
                <p>Bạn chưa có tài khoản?
                    <a class="light-blue-text" (click)='frameSignin.show();frameLogin.hide()'>Đăng ký</a>
                </p>
                <!-- Social login -->
            </div>
        </div>
    </div>
</form>
<!-- /Login Modal -->

<!-- Signin Modal -->
<form [formGroup]="validatingSigninForm" (ngSubmit)=doSignup()>
    <div mdbModal #frameSignin="mdbModal" class="modal fade down" tabindex="-1" role="dialog">
        <div class="modal-dialog text-center" style="width:500px;" role="document">
            <div class="modal-content p-5 ">
                <div class="h4 mb-3">Đăng ký</div>

                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="standard">
                            <mat-label>Tên<span class="red-text">*</span></mat-label>
                            <input type="text" formControlName="firstName" matInput>
                            <mat-error *ngIf="sharedService.checkValidateInput(firstName)"> Không bỏ trống</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="standard">
                            <mat-label>Họ</mat-label>
                            <input type="text" formControlName="lastName" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <!--User name -->
                <div id="username-container">
                <mat-form-field class="w-100" appearance="standard">
                    <mat-label>Tên đăng nhập<span class="red-text">*</span></mat-label>
                    <input type="text" formControlName="username" matInput>
                    <mat-error id="username-error-msg" *ngIf="sharedService.checkValidateInput(username)"> Không bỏ trống</mat-error>
                </mat-form-field>
                </div>
                <!-- Password -->
                <div id="password-container">
                <mat-form-field class="w-100" appearance="standard">
                    <mat-label>Mật khẩu<span class="red-text">*</span></mat-label>
                    <input type="password" formControlName="password" matInput>
                    <mat-error id="username-error-msg" *ngIf="sharedService.checkValidateInput(password)"> Không hợp lệ</mat-error>
                    <mat-hint> Mật khẩu ít nhất 6 đến 32 ký tự </mat-hint>
                </mat-form-field>
            </div>
                <!-- Password -->
                <mat-form-field class="w-100 mb-3" appearance="standard">
                    <mat-label>Nhập lại mật khẩu<span class="red-text">*</span></mat-label>
                    <input type="password" formControlName="confirmPasswrd" matInput>
                    <mat-error id="password-error-msg" *ngIf="sharedService.checkValidateInput(password)"> Không hợp lệ</mat-error>
                </mat-form-field>
                <small class="red-text" *ngIf="signUpMess">{{signUpMess}}</small>
                <button id="login-btn-container"  mat-raised-button color="primary" class="btn-block mb-3"
                    [disabled]="!validatingSigninForm.valid || isSigninSubmit" type="submit"> <span
                        [ngClass]="{'spinner-border spinner-border-sm' : isSigninSubmit}"> </span> Đăng ký</button>
            </div>
        </div>
    </div>
</form>