<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" routerLink="/places/home">
            <strong class="blue-text">
                <mdb-icon fas icon="home" size="2x"></mdb-icon>Cyber Place
            </strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLink="/places/home" routerLinkActive="active">
                    <a class="nav-link waves-effect">Trang chủ
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" routerLink="/user/renter" routerLinkActive="active">
                    <a class="nav-link waves-effect">
                        Kênh người mua
                    </a>
                </li>
                <li class="nav-item" routerLink="/user/seller" routerLinkActive="active">
                    <a class="nav-link waves-effect">
                        Kênh người bán
                    </a>
                </li>
                <li class="nav-item" routerLink="/user/test" routerLinkActive="active">
                    <a class="nav-link waves-effect">
                        TEST
                    </a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item" *ngIf="!loginService.isUserLoggedIn()">
                    <a class="nav-link waves-effect" data-toggle="modal" data-target="#frameSignin"
                        (click)="frameSignin.show()">
                        Đăng ký
                    </a>
                </li>
                <li class="nav-item" *ngIf="!loginService.isUserLoggedIn()">
                    <a class="nav-link waves-effect" data-toggle="modal" data-target="#frameLogin"
                        (click)="frameLogin.show()">
                        Đăng nhập
                    </a>

                </li>

                <li *ngIf="loginService.isAdmin();else post" class="nav-item">
                    <button routerLink="/admin" mdbBtn type="button" color="warning" size="sm" mdbWavesEffect>
                        <strong>Admin</strong></button>
                </li>
                <ng-template #post>
                    <li class="nav-item">
                        <button routerLink="/user/seller/post" mdbBtn type="button" color="dark-green" size="sm"
                            mdbWavesEffect>
                            <strong>Đăng tin rao</strong></button>
                    </li>
                </ng-template>

                <li class="nav-item" *ngIf="loginService.isUserLoggedIn()">
                    <a class="nav-link" title="{{getNameUser()}}">
                        Xin chào {{getShortNameUser()}}...
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link border border-light rounded waves-effect" *ngIf="loginService.isUserLoggedIn()"
                        routerLink="/user/logout">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>
<!-- Navbar -->

<!-- Login Modal -->
<form [formGroup]="validatingLoginForm" class="text-center" (ngSubmit)="checkLogin()">
    <div mdbModal #frameLogin="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content  p-5">
                <p class="h4 mb-4">Đăng nhập</p>

                <input type="email" formControlName="loginFormModalUsername" class="form-control mb-4"
                    placeholder="Tên đăng nhập">

                <input type="password" formControlName="loginFormModalPassword" class="form-control mb-4"
                    placeholder="Mật khẩu">

                <!-- <div class="d-flex justify-content-around">
                    <div>
                        <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
                    </div>
                    <div>
                        <a href="">Forgot password?</a>
                    </div>
                </div> -->

                <!-- Sign in button -->
                <button mdbBtn color="info" block="true" class="my-4" type="submit"
                    [disabled]="!validatingLoginForm.valid">Đăng nhập</button>

                <!-- Register -->
                <p>Bạn chưa có tài khoản?
                    <a class="light-blue-text mx-2" (click)='frameSignin.show();frameLogin.hide()'>Đăng ký</a>
                </p>
                <!-- Social login -->
                <p>Đăng nhập với : <a class="light-blue-text mx-2" role="button" (click)="loginService.googleSignin();frameLogin.hide()">
                        <mdb-icon fab icon="google"></mdb-icon>
                    </a></p>
            </div>
        </div>
    </div>
</form>
<!-- /Login Modal -->

<!-- Signin Modal -->
<form [formGroup]="validatingSigninForm" (ngSubmit)=doSignup()>
    <div mdbModal #frameSignin="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content p-5 text-center">
                <p class="h4 mb-4">Đăng ký</p>

                <div class="form-row mb-4">
                    <div class="col">
                        <!-- First name -->
                        <input type="text" formControlName="firstName" class="form-control" placeholder="Tên">
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <input type="text" formControlName="lastName" class="form-control" placeholder="Họ">
                    </div>
                </div>
                <!--User name -->
                <input type="text" formControlName="username" class="form-control mb-4" placeholder="Tên đăng nhập">

                <!-- Password -->
                <input type="password" formControlName="password" class="form-control" placeholder="Mật khẩu"
                    aria-describedby="defaultRegisterFormPasswordHelpBlock">
                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                    Mật khẩu ít nhất 6 đến 32 ký tự
                </small>

                <!-- Password -->
                <input type="password" formControlName="confirmPasswrd" class="form-control" placeholder="Nhập lại mật khẩu"
                    aria-describedby="defaultRegisterFormPasswordHelpBlock">

                <button mdbBtn color="info" block="true" class="my-4" [disabled]="!validatingSigninForm.valid"
                    type="submit">Đăng ký</button>

                <!-- Social register -->
                <p>Đăng ký với : <a class="light-blue-text mx-2" role="button" (click)="loginService.googleSignin();frameSignin.hide()">
                        <mdb-icon fab icon="google"></mdb-icon>
                    </a></p>
            </div>
        </div>
    </div>
</form>

<div *ngIf="loginService.user$ | async">
    <!-- template will replace this div -->
</div>