<!-- <button mdbBtn floating="true" size="lg" color="red" class="waves-light" mdbPageScroll href="#top-section"
    mdbWavesEffect style="right:35px; bottom:35px;" [pageScrollDuration]="750">
    <mdb-icon fas icon="arrow-up"></mdb-icon>
</button> -->
<!-- header -->
<app-header></app-header>
<div style="height: 60px;"></div>

<!-- routes will be rendered here -->
<router-outlet></router-outlet>

<!-- footer -->
<app-footer></app-footer>

<div id="aa-preloader-area">
    <div class="pulse"></div>
  </div>