          <!--Card-->
          <div class="card">
            <a (click)="sharedService.placeDetail(place.placeID)">
              <!--Card image-->
              <div class="view overlay zoom" style="height: 250px;">
                <img [src]="place.imageLarge" class="img-thumbnail" alt="zoom">
                <div class="mask flex-center   waves-light">
                  <p class="white-text">Xem</p>
                </div>
              </div>
              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <div class="card-title h5" style="height: 56px;">{{place?.title | slice:0:60}}</div>
                <!--Text-->
                <div class="h5">
                  <span class="badge badge-pill badge-info">{{place.roleOfPlaceName}}</span>
                </div>

                <p class="card-text">{{place.bedRooms}} phòng ngủ - {{place.toilets}} phòng vệ sinh - {{place.area}} m²
                </p>
                <div class="card-title h5">
                  <i class="fas fa-map-marker-alt grey-text"></i> {{place.district}}
                </div>
                <div class="card-title h4"> {{place.price| number}} vnđ</div>

              </div>
            </a>
          </div>
          <!--/.Card-->
