<div class="container">
    <mdb-card class="w-50 mx-auto mt-5 " style="min-width: 400px;">

        <form [formGroup]="validatingSigninForm" (ngSubmit)=doSignup() class="text-center border border-light p-5">

            <p class="h4 mb-4">Tạo tài khoản</p>

            <div class="form-row mb-4">
                <div class="col">
                    <!-- First name -->
                    <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Tên"
                        formControlName="firstName" mdbInput mdbValidate>
                    <mdb-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                        Không bỏ trống
                    </mdb-error>
                    <mdb-success *ngIf="firstName.valid && (firstName.dirty || firstName.touched)">
                        <i class="fas fa-check"></i>
                    </mdb-success>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Họ"
                        formControlName="lastName" mdbInput mdbValidate>
                </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mb-5">
                <input type="text" id="defaultRegisterFormEmail" class="form-control mb-4" formControlName="username"
                    mdbInput mdbValidate placeholder="Tên đăng nhập">
                <mdb-error *ngIf="username.invalid && (username.dirty || username.touched)">
                    Không bỏ trống
                </mdb-error>
                <mdb-success *ngIf="username.valid && (username.dirty || username.touched)">
                    <i class="fas fa-check"></i>
                </mdb-success>
            </div>
            <!-- Password -->
            <div class="md-form mb-4">
            <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Mật khẩu" formControlName="password" mdbInput mdbValidate
                aria-describedby="defaultRegisterFormPasswordHelpBlock">
                <mdb-error
                *ngIf="password.invalid && (password.dirty || password.touched)">
                Mật khẩu từ 6 đến 32 ký tự
            </mdb-error>
            <mdb-success
                *ngIf="password.valid && (password.dirty || password.touched)">
                <i class="fas fa-check"></i>
            </mdb-success>
            </div>

            <!-- Confirm -->
            <div class="md-form mb-4">
                <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Nhập lại mật khẩu" formControlName="confirmPasswrd" mdbInput mdbValidate
                    aria-describedby="defaultRegisterFormPasswordHelpBlock">
                    <mdb-error
                    *ngIf="confirmPasswrd.invalid && (confirmPasswrd.dirty || confirmPasswrd.touched)">
                    Mật khẩu từ 6 đến 32 ký tự
                </mdb-error>
                <mdb-success
                    *ngIf="confirmPasswrd.valid && (confirmPasswrd.dirty || confirmPasswrd.touched)">
                    <i class="fas fa-check"></i>
                </mdb-success>
                </div>

            <!-- Sign up button -->
            <button [disabled]="!validatingSigninForm.valid" class="btn btn-warning my-4 btn-block" type="submit"><strong>Đăng ký</strong></button>

            <!-- Social register -->
            <!-- <p>or sign up with:</p>

            <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a> -->

            <hr>

            <!-- Terms of service -->

        </form>
    </mdb-card>

</div>