<div class="grey lighten-3">
  <header>

    <!-- Navbar -->
    <app-header></app-header>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed font-weight-bolder">

      <div class="my-5"><a class="navbar-brand  " routerLink="/places/home">
          <strong class="blue-text">
            <i class="fas fa-home fa-3x"></i>CyberAdmin
          </strong>
        </a></div>

      <div class="list-group list-group-flush">

        <a [routerLink]="['checking-list']" routerLinkActive="active"
          class="list-group-item list-group-item-action  ">
          <i class="fas fa-file-upload mr-3"></i>Yêu cầu đăng tin</a>
          
          <a [routerLink]="['order-list']" routerLinkActive="active"
          class="list-group-item list-group-item-action  ">
          <i class="fas fa-money-bill-alt mr-3"></i>Yêu cầu xem nhà</a>
          
          <a [routerLink]="['contract-list']" routerLinkActive="active"
          class="list-group-item list-group-item-action  ">
          <i class="fas fa-file-contract mr-3" ></i>Danh sách hợp đồng</a>
          
          <a [routerLink]="['cost-of-living-bill']" routerLinkActive="active"
          class="list-group-item list-group-item-action  ">
          <i class="fas fa-dollar-sign mr-3"></i>Hóa đơn dịch vụ</a>

          <a [routerLink]="['payment-list']" routerLinkActive="active"
          class="list-group-item list-group-item-action  ">
          <i class="fab fa-cc-paypal mr-3"></i>Lịch sử thanh toán</a>

        <a [routerLink]="['place-manage']" routerLinkActive="active"
          class="list-group-item list-group-item-action  ">
          <i class="fas fa-home mr-3"></i>Tin trên trang</a>

          <a [routerLink]="['user-list']" routerLinkActive="active"
          class="list-group-item list-group-item-action  ">
          <i class="fas fa-users mr-3"></i>Quản lý người dùng</a>

      </div>
    </div>
  </header>

  <main class="pt-5 min-vh-100">
    <router-outlet></router-outlet>
  </main>

  <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4">
    <div style="height: 100px;">

    </div>
  </footer>

</div>