<h1 mat-dialog-title class="text-center">Thông tin cá nhân</h1>
<div mat-dialog-content *ngIf="user">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Thông tin">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar style="background-size: cover;background-image: url({{user.avatarLink}})">
                    </div>
                    <mat-card-title>
                        {{user.name}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{user.statusName}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item><strong>Giới tính</strong> : {{user.gender}} </mat-list-item>
                        <mat-list-item><strong>Địa chỉ</strong> : {{user.address}}</mat-list-item>
                        <mat-list-item><strong>Số điện thoại</strong>: {{user.phoneNumber}}</mat-list-item>
                        <mat-list-item><strong>Email</strong>: {{user.email}}</mat-list-item>
                        <mat-list-item><strong>Ngày sinh</strong>: {{user.dob ||'' | date:'M/d/yyyy'}}</mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-tab>

        <mat-tab label="Cập nhật">
            <form [formGroup]="profileForm">
                <mat-form-field class="mb-3" appearance="standard">
                    <mat-label>Tên<span class="red-text">*</span></mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
                <mat-form-field class="mb-3" appearance="standard">
                    <mat-label>Giới tính</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option value="Nam">Nam</mat-option>
                        <mat-option value="Nữ">Nữ</mat-option>
                        <mat-option value="Khác">Khác</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mb-3" appearance="standard">
                    <mat-label>Ngày sinh</mat-label>
                    <input matInput type="date" formControlName="dob">
                </mat-form-field>
                <mat-form-field class="mb-3" appearance="standard">
                    <mat-label>Địa chỉ <span class="red-text">*</span></mat-label>
                    <input matInput type="text" formControlName="address">
                </mat-form-field>
                <mat-form-field class="mb-3" appearance="standard">
                    <mat-label>Số điện thoại <span class="red-text">*</span></mat-label>
                    <input matInput type="text" formControlName="phoneNumber">
                </mat-form-field>
                <mat-form-field class="mb-3" appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                </mat-form-field>
                <div class="mb-4">
                    <button mat-stroked-button type="button" (click)="upload.click()" color="primary">
                        Ảnh đại diện<span class="red-text">*</span><input type="file" formControlName="avatarLink"
                            autocomplete="off" style="display:none;" (change)="onFileSelected($event)" #upload />
                    </button>
                    <small [ngClass]="{'red-text':!fileName}">{{fileName? fileName: "Cập nhật ảnh đại diện."}}</small>
                </div>
                <button type="button" [disabled]="!uploaded || profileForm.invalid" [mat-dialog-close]="profileForm.value" cdkFocusInitial class="btn-block" mat-raised-button color="warn">Cập nhật</button>
            </form>
        </mat-tab>
    </mat-tab-group>
</div>
<div mat-dialog-actions>
    <button mat-button class="btn-block" (click)="onNoClick()">Đóng</button>
</div>