<!-- Advance Search -->
<div class="card">
  <div class="p-3">
  <form [formGroup]="form" (ngSubmit)="searchForm(form.value)">
    <div class="container">
      <div  class="row">

        <div class="col-md-2">
          <input formControlName="title" class="form-control" type="text" placeholder="Nhập từ khóa">
        </div>

        <div class="col-md-2 text-center">
          <select formControlName="roleOfPlaceID" class="form-control">
            <option value="-1">Loại nhà đất</option>
            <option *ngFor="let item of roleOfPlaces" [ngValue]="item.roleOfPlaceID">{{item.roleName}}
            </option>
          </select>
        </div>
        
        <div class="col-md-2">
          <select formControlName="districtID" class="form-control">
            <option value="-1" selected>Quận/Huyện</option>
            <option *ngFor="let item of districts" [ngValue]="item.id">{{item.district}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <select formControlName="areaRange" class="form-control">
            <option *ngFor="let item of areaRanges" [ngValue]="item">{{item.text}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <select formControlName="priceRange" class="form-control">
            <option *ngFor="let item of priceRanges" [ngValue]="item">{{item.text}}</option>
          </select>
        </div>
        <div class="col-md-2 ">
          <button type="submit" mat-raised-button  color="primary">
            <strong>Tìm kiếm</strong>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
<!-- / Advance Search -->