<!-- Advance Search -->
<mat-card>
  <form [formGroup]="form" (ngSubmit)="searchForm(form.value)">
    <div class="container">
      <div  class="row">

        <mat-form-field class="col-md-2" appearance="outline">
          <mat-label>Nhập từ khóa tìm kiếm </mat-label>
          <input formControlName="title" type="text" matInput placeholder="Tiêu đề, địa điểm...">
        </mat-form-field>

        <mat-form-field class="col-md-2" appearance="outline">
          <mat-label>Loại nhà đất</mat-label>
          <mat-select formControlName="roleOfPlaceID">
            <mat-option value="-1">Tất cả</mat-option>
            <mat-option *ngFor="let item of roleOfPlaces" [value]="item.roleOfPlaceID">{{item.roleName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="col-md-2" appearance="outline">
          <mat-label>Quận/Huyện</mat-label>
          <mat-select formControlName="districtID">
            <mat-option value="-1">Tất cả</mat-option>
            <mat-option *ngFor="let item of districts" [value]="item.id">{{item.district}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-2" appearance="outline">
          <mat-label >Diện tích</mat-label>
          <mat-select formControlName="areaRange">
            <mat-option *ngFor="let item of areaRanges" [value]="item">{{item.text}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-2" appearance="outline">
          <mat-label >Khoảng giá</mat-label>
          <mat-select formControlName="priceRange">
            <mat-option *ngFor="let item of priceRanges" [value]="item">{{item.text}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-md-2">
          <button class="mt-2 py-2"  type="submit" mat-raised-button  color="primary">
            <strong>Tìm kiếm</strong>
          </button>
        </div>
      </div>
    </div>
  </form>
</mat-card>
<!-- / Advance Search -->