<div class="container-fluid mt-5  wow fadeIn">
  <!-- Heading -->
  <div class="card mb-4">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

      <h4 class="mb-2 mb-sm-0 pt-1">
        <a >Admin</a>
        <span>/</span>
        <span>Quản lý Hợp đồng</span>
      </h4>

    </div>

  </div>
  <!-- Heading -->

  <div class="card mb-5 wow fadeIn">
    <div class="card-header text-center  h5"><strong>Danh sách Hợp đồng</strong></div>
    <div class="card-body">
        <div class="md-form">
          <input matInput mdbInput type="text" id="form1" class="form-control" (keyup)="applyFilter($event)">
          <label for="form1">Lọc</label>
        </div>
      <div mdbTable bordered="true" hover="true">
        <table mat-table matSort [dataSource]="dataSource" class="w-100">

          <ng-container matColumnDef="placeID" >
            <th *matHeaderCellDef mat-sort-header>Chi tiết nhà</th>
            <td *matCellDef="let element">
              <a type="button" mdbBtn color="info" size='sm' (click)="sharedService.placeDetail(element.placeID)" mdbWavesEffect><i class="fas fa-info"></i></a>
            </td>
          </ng-container>

          <ng-container matColumnDef="contractID">
            <th *matHeaderCellDef mat-sort-header>Chi tiết hợp đồng</th>
            <td *matCellDef="let element"><a ><i class="fas fa-warning"></i></a> </td>
          </ng-container>

          <ng-container matColumnDef="ownerID">
            <th *matHeaderCellDef mat-sort-header>Chủ nhà</th>
            <td *matCellDef="let element"> {{element.ownerID}} </td>
          </ng-container>

          <ng-container matColumnDef="renterID">
            <th *matHeaderCellDef mat-sort-header>Người thuê</th>
            <td *matCellDef="let element"> {{element.renterID}} </td>
          </ng-container>

          <ng-container matColumnDef="startDate">
            <th *matHeaderCellDef mat-sort-header>Ngày thuê</th>
            <td *matCellDef="let element"> {{element.startDate}} </td>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <th *matHeaderCellDef mat-sort-header>Ngày kết thúc</th>
            <td *matCellDef="let element"> {{element.endDate}} </td>
          </ng-container>

          <ng-container matColumnDef="placeStatus">
            <th *matHeaderCellDef mat-sort-header>Trạng thái nhà</th>
            <td *matCellDef="let element"> {{element.placeStatus}} </td>
          </ng-container>
          <ng-container matColumnDef="statusContract">
            <th *matHeaderCellDef mat-sort-header>Trạng thái hợp đồng</th>
            <td *matCellDef="let element"> {{element.statusContract}} </td>
          </ng-container>

          <ng-container matColumnDef="void">
            <th *matHeaderCellDef></th>
            <td *matCellDef="let element">
              <ng-container *ngIf="showBtn(element.contractStatusID)"  >
                <button type="button" *ngIf="isBanContract(element.contractStatusID)" (click)='contractSelected = element' mdbBtn color="success" size="sm" 
                (click)="comfirmApprove.show()" mdbWavesEffect><mdb-icon fas icon="undo"></mdb-icon></button>
              <button type="button" *ngIf="!isBanContract(element.contractStatusID)" (click)='contractSelected = element' mdbBtn color="danger" size="sm"
              (click)="comfirmReject.show()" mdbWavesEffect><mdb-icon fas icon="ban"></mdb-icon></button>
              </ng-container>
              
            </td>
          </ng-container>

          <tr mdbTableCol mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mdbTableCol mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
      </div>
    </div>

  </div>
</div>

<!-- To Deactive comfirm -->
<div mdbModal #comfirmReject="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger modal-sm  text-center" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h5>Bạn có chắc chắn muốn BAN hợp đồng</h5>
      </div>
      <div class="modal-footer justify-content-center ">
        <a type="button" mdbBtn color="danger" class="waves-effect" (click)="onAccept()"   (click)="comfirmReject.hide()" mdbWavesEffect>
          <i class="fas fa-check"></i>
        </a>
        <a type="button" mdbBtn color="danger" outline="true" class="waves-effect" (click)="comfirmReject.hide()"
          mdbWavesEffect><i class="fas fa-minus"></i></a>
      </div>
    </div>
  </div>
</div>

<!-- To ACtive comfirm -->
<div mdbModal #comfirmApprove="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success modal-sm  text-center" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5>Bạn có chắc chắn muốn gỡ BAN hợp đồng</h5>
      </div>
      <div class="modal-footer justify-content-center ">
        <a type="button" mdbBtn color="success" class="waves-effect" (click)="onAccept()" (click)="comfirmApprove.hide()"  mdbWavesEffect>
          <i class="fas fa-check"></i></a>
        <a type="button" mdbBtn color="success" outline="true" class="waves-effect" (click)="comfirmApprove.hide()"
          mdbWavesEffect><i class="fas fa-minus"></i></a>
      </div>
    </div>
  </div>
</div>