
    <p class="red-text">Thông tin yêu cầu</p>
    <form [formGroup]="eqmTable">
      <table class="table table-bordered table-sm">
        <thead class="text-nowrap">
          <th scope="col">Tên<span class="red-text">*</span></th>
          <th scope="col">Số lượng<span class="red-text">*</span></th>
          <th scope="col">Giá trị(vnđ)<span class="red-text">*</span></th>
          <th scope="col">Độ mới(%)</th>
          <th scope="col">Mô tả</th>
          <th scope="col"></th>
        </thead> 
        <tbody>
          <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
            <tr  *ngIf="group.get('isEditable').value" [formGroupName]="i">
              <td>
                <input matInput type="text" id="name" class="form-control" formControlName="name">
                <small class="red-text" *ngIf="sharedService.checkValidateInput(group.get('name'))">
                  Không bỏ trống
                </small>
              </td>
              <td>
                <input matInput type="number" id="quantity" class="form-control" formControlName="quantity">
                <small class="red-text" *ngIf="sharedService.checkValidateInput(group.get('quantity'))">
                  Không hợp lệ
                </small>
              </td>
              <td>
                <input matInput type="number" id="price" class="form-control" formControlName="price">
                <small class="red-text" *ngIf="sharedService.checkValidateInput(group.get('price'))">
                  Không hợp lệ
                </small>
              </td>
              <td>
                <input matInput type="number" id="likeNew" class="form-control" formControlName="likeNew">
                <small class="red-text" *ngIf="sharedService.checkValidateInput(group.get('likeNew'))">
                  Không hợp lệ
                </small>
              </td>
              <td>
                <textarea matInput type="text" formControlName="equipmentDescrible" id="equipmentDescrible"
                  class="md-textarea form-control"></textarea>
                <small class="red-text" *ngIf="sharedService.checkValidateInput(group.get('equipmentDescrible'))">
                  Không quá 100 ký tự
                </small>
              </td>
              <td>
                <button mat-flat-button  (click)="deleteRow(i)"  >Xóa</button>
                <button mat-flat-button [disabled]="group.invalid" (click)="doneRow(group)"
                   >Lưu</button>
              </td>
            </tr>
            <tr *ngIf="!group.get('isEditable').value">
              <td>
                {{group.get('name').value}}
              </td>
              <td>
                {{group.get('quantity').value}}
              </td>
              <td>
                {{group.get('price').value}}
              </td>
              <td>
                {{group.get('likeNew').value}}
              </td>
              <td>
                {{group.get('equipmentDescrible').value}}
              </td>
              <td>
                <button mat-flat-button  (click)="editRow(group)"  >Sửa</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="action-container">
        <button mat-flat-button  [disabled]="eqmTable.invalid" (click)="addRow()"
           >Thêm</button>
      </div>
    </form>
    <hr>