
    <form [formGroup]="eqmTable">
      <table  class="table table-bordered table-sm">
        <thead class="text-nowrap">
          <th scope="col">Tên<span class="red-text">*</span></th>
          <th scope="col">Số lượng<span class="red-text">*</span></th>
          <th scope="col">Giá trị<span class="red-text">*</span></th>
          <th scope="col">Độ mới</th>
          <th scope="col">Mô tả</th>
          <th scope="col"></th>
        </thead> 
        <tbody>
          <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
            <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
              <td>
                <mat-form-field  appearance="standard">
                <input matInput type="text" formControlName="name">
                <mat-error   *ngIf="sharedService.checkValidateInput(group.get('name'))">
                  Không bỏ trống
                </mat-error >
              </mat-form-field>
              </td>
              <td>
                <mat-form-field  appearance="standard">
                <input matInput type="number" formControlName="quantity">
                <mat-error  *ngIf="sharedService.checkValidateInput(group.get('quantity'))">
                  Không hợp lệ
                </mat-error >
              </mat-form-field>
              </td>
              <td>
                <mat-form-field  appearance="standard">
                <input matInput type="number"  formControlName="price">
                <span matSuffix>vnđ</span>
                <mat-error   *ngIf="sharedService.checkValidateInput(group.get('price'))">
                  Không hợp lệ
                </mat-error >
              </mat-form-field>
              </td>
              <td>
                <mat-form-field  appearance="standard">
                <input matInput type="number" formControlName="likeNew">
                <span matSuffix>%</span>
                <mat-error   *ngIf="sharedService.checkValidateInput(group.get('likeNew'))">
                  Không hợp lệ
                </mat-error >
              </mat-form-field>
              </td>
              <td>
                <mat-form-field  appearance="standard">
                <textarea matInput type="text" formControlName="equipmentDescrible" ></textarea>
                <mat-error  *ngIf="sharedService.checkValidateInput(group.get('equipmentDescrible'))">
                  Không quá 100 ký tự
                </mat-error >
              </mat-form-field>
              </td>
              <td>
                <button mat-flat-button  (click)="deleteRow(i)"  >Xóa</button>
                <button mat-flat-button [disabled]="group.invalid" (click)="doneRow(group)"
                   >Lưu</button>
              </td>
            </tr>
            <tr *ngIf="!group.get('isEditable').value">
              <td>
                {{group.get('name').value}}
              </td>
              <td>
                {{group.get('quantity').value}}
              </td>
              <td>
                {{group.get('price').value}}
              </td>
              <td>
                {{group.get('likeNew').value}}
              </td>
              <td>
                {{group.get('equipmentDescrible').value}}
              </td>
              <td>
                <button mat-flat-button  (click)="editRow(group)"  >Sửa</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="action-container">
        <button mat-flat-button  [disabled]="eqmTable.invalid" (click)="addRow()"
           >Thêm</button>
      </div>
    </form>
    <hr>