    <!--Footer-->
    <footer class="sticky-bottom page-footer text-center font-small mdb-color darken-2 wow fadeIn">

      <!--Call to action-->
      <div class="pt-4">
          <a class="btn btn-outline-white"  role="button">
              <i class="fas fa-download ml-2"></i>
          </a>
          <a class="btn btn-outline-white"  role="button">
              <i class="fas fa-graduation-cap ml-2"></i>
          </a>
      </div>
      <!--/.Call to action-->

      <!-- Social icons -->
      <div class="pb-4">
          <a  >
              <i class="fab fa-facebook-f mr-3"></i>
          </a>

          <a  >
              <i class="fab fa-twitter mr-3"></i>
          </a>

          <a >
              <i class="fab fa-youtube mr-3"></i>
          </a>

          <a >
              <i class="fab fa-google-plus-g mr-3"></i>
          </a>

          <a >
              <i class="fab fa-dribbble mr-3"></i>
          </a>

          <a  >
              <i class="fab fa-pinterest mr-3"></i>
          </a>

          <a  >
              <i class="fab fa-github mr-3"></i>
          </a>

          <a >
              <i class="fab fa-codepen mr-3"></i>
          </a>
      </div>
      <!-- Social icons -->

      <div class="footer-copyright py-3">
          <a ></a>
      </div>

  </footer>