
.form-control.ng-invalid.ng-touched{
    border-color: #dc3545!important;
}
html, body { 
    height: 100%;
    /* word-break: break-all;  */
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
.mat-stroked-button{
    margin: 5px !important;
}
.mat-header-cell {
font-size: 14px  ;
font-weight: bold;
}

th,td {
    padding-left: 10px !important;
}
