
textarea.ng-invalid.ng-touched,select.ng-invalid.ng-touched,input.ng-invalid.ng-touched{
    border-color: #dc3545!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
.mat-stroked-button, .mat-raised-button {
    margin: 5px !important;
}
.mat-header-cell {
font-size: 14px  ;
font-weight: bold;
}