        <!-- Cart -->
        <mdb-card>
        <ul class="list-group list-group-flush text-center">
          <li  class="list-group-item list-group-item-action waves-effect" routerLink="/user/seller/post" routerLinkActive="active">
            <a class="h6 my-0">Đăng tin</a>
          </li>
          <li  class="list-group-item list-group-item-action waves-effect" routerLink="/user/seller/post-manage" routerLinkActive="active">
            <a class="h6 my-0">Quản lý tin đã đăng</a>
          </li>
          <li  class="list-group-item list-group-item-action waves-effect" routerLink="/user/seller/rented" routerLinkActive="active">
            <a class="h6 my-0">Nhà đang cho thuê</a>
          </li>
          <!-- <li class="list-group-item nav-item" routerLink="#" routerLinkActive="active">
            <a class="h6 my-0">Thông báo</a>
          </li> -->
        </ul>
      </mdb-card>
        