<body class="grey lighten-3 min-vh-100  wow fadeIn">
  <div class="container">
    <div class="row py-5">
      <!--Grid column-->
      <div class="col-md-3 ">
        <app-seller-menu></app-seller-menu>
      </div>
      <!--Grid column-->
      <div class="col-md-9 ">

        <div class="text-center mb-3 ">
          <div class="h3 text-center">DANH SÁCH NHÀ ĐÃ ĐƯỢC THUÊ</div>
          <p>(Quý vị có thể quản lý, tìm kiếm nhà đã được thuê ở đây)</p>
        </div>

        <div *ngFor="let item of posts">
          <mdb-card *ngIf="isRented(item.statusID)" class="mb-3">
            <a (click)="sharedService.placeDetail(item.id)">
            <div class="row">
              <div class="col-md-5 view overlay zoom" >
                <img [src]="item.imageLarge" style="height: 236px;" class="img-thumbnail" alt="zoom">
                <div class="mask flex-center waves-effect waves-light">
                  <p class="white-text">Xem</p>
                </div>
              </div>
              <mdb-card-body class="col-md-7">
                <div class="row">
                  <div class="col-md-9" style="height: 130px;">
                    <mdb-card-title>
                     <h5>{{item.title}}</h5> 
                    </mdb-card-title>
                    <div>
                      <p><strong>Địa chỉ: </strong>{{item.address}}</p>
                    </div>
                  </div>
                  <div class="col-md-3">
                  </div>
                </div>
                <hr>
                <span class="h5">Giá: {{item.price| number}} vnđ</span>
              </mdb-card-body>
            </div>
          </a>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</body>