<div class="wow fadeIn" style="margin-top: -100px;">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let img of imgSlide">
      <div class="view w-100" style="height: 70vh;">
        <img class="d-block img-fluid"
          [src]="img" alt="First slide">
        <div class="mask rgba-black-light waves-light"  ></div>
      </div>
      <div class="carousel-caption h-50 my-auto">
        <div class="mb-4 h1">
          <strong>Bất động sản sạch</strong>
        </div>
        <p>
          <strong>Đáp ứng mọi tiêu chí của người mua lẫn người bán</strong>
        </p>
        <p class="mb-4 d-none d-md-block">
          <strong>Hãy trở thành khách hàng của chúng tôi để nhận được những dịch vụ tốt nhất.</strong>
        </p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

  <app-places-list></app-places-list>

  <div class="container">
    <hr class="mt-3 mb-5">
    <!--Section: Cards-->
    <section class="text-center">
      <div class="mb-5 h3">Bất động sản nổi bật trên trang</div>
      <div class="row wow fadeIn">

        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let place of places">
          <app-place-quick-view [place]="place"></app-place-quick-view>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!--Section: Cards-->
    <hr class="my-5">


    <!--Section: Main info-->
    <section class="mt-5 wow fadeIn">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="../../../assets/img/team.jpg" class="img-fluid z-depth-1-half" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <div class="view overlay rounded z-depth-1 p-5">
            <!-- Main heading -->
            <div class="mb-3 h3">Về Chúng Tôi</div>
            <hr>
            <p>Nhóm gồm 5 thành viên đến từ Đại học FPT</p>
            <ul>
              <li>Hoàng Ngọc Nghĩa Trường</li>
              <li>Trần Huy Đức</li>
              <li>Trần Thị Thùy Trang</li>
              <li>Đào Đức Trung</li>
              <li>Hoàng Tiến Thành</li>
            </ul>
            <!-- Main heading -->

            <hr>
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Main info-->
  </div>

</div>

<!--Main layout-->